:root {
    --primary:#FFFFFF;
    --texto_primario:#1A2A36;
    --texto_secundario:#4A3A36;
    --icones:#2D3648;
    --azul_escuro:#133D7A;
    --azul_medio: #1E4F9A;
    --shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}

.telaIncial{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--azul_medio);
}
.content_telaInicial{
    height: 80vh;
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content_telaInicial .logo{
    color: var(--primary);
    flex-direction: column;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    animation: telalogo 3s ease-in-out;
}
.logo img{
    width: 120px;
    animation: flutuar 5s ease-in-out infinite;
}
@keyframes flutuar {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
}
.content_telaInicial p{
    color: var(--primary);
    font-size: 1.5rem;
    animation: telatext 3s ease-in-out;
    font-weight: 600;
}
@keyframes  telalogo  {
    0%{
       transform: translateY(-30px);
       opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes  telatext  {
    0%{
       transform: translateY(30px);
       opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}