
:root {
    --primary:#FFFFFF;
    --branco_neutro:#f4f4f4;
    --texto_primario:#1A2A36;
    --texto_secundario:#4A3A36;
    --icones:#2D3648;
    --azul_escuro:#133D7A;
    --azul_medio: #1E4F9A;
    --shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}


* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;

}

body {
  background-color: var(--branco_neutro);
  line-height: 1.6;
  font-family: 'Poppins',sans-serif;
}

.hero{
  margin-top: 60px;
  display: flex;
  align-items: center;
  inset: 0;
  scroll-behavior: none;
  justify-content: space-around;
}
.cardHero{
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.descriptionHero h1{
  color: var(--azul_escuro);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.text_info{
  font-size: 2rem;
  font-weight: 700;
  color: var(--texto_primario);
}
.text{
  color: var(--texto_primario);
  font-weight: 500;
  font-size: 1.6rem;
}
.boxtBtnHero{
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 54px 0;
  gap: 30px;
  flex-direction: column;
}
.boxtBtnHero a{
  padding: 13px 19px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  font-weight: 600;
  transition: .4s ease-in-out;
}
.boxtBtnHero a i{
  margin-right: 10px;
}
#criar_conta{
  background-color: var(--azul_escuro);
  color: var(--primary);
}
#criar_conta:hover{
  color: var(--texto_primario);
  background-color: transparent;
  border: 3px solid var(--azul_escuro);
}
#saiba_mais{
  color: var(--texto_primario);
  border: 3px solid var(--azul_escuro);
}
#saiba_mais:hover{
  color: var(--primary);
  background-color: var(--azul_escuro);
}
.boxOptionHero{
  padding: 10px;
  background-color: var(--primary);
  box-shadow: var(--shadow);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  display: flex;
}
.boxOptionHero a{

  color: var(--texto_primario);
  transition: .4s ease;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--branco_neutro);
}
.boxOptionHero a:hover{
  background-color: var(--azul_medio);
  color: var(--primary);
}

/* ====== Tela Inicial ====== */
