:root {
    --primary:#FFFFFF;
    --branco_neutro:#f4f4f4;
    --texto_primario:#1A2A36;
    --texto_secundario:#4A3A36;
    --icones:#2D3648;
    --azul_escuro:#133D7A;
    --azul_medio: #1E4F9A;
    --shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}
*{
    padding: 0;
    list-style: none;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}
body{
    background-color: var(--branco_neutro);
}
.part1{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 999;
    height: 100vh;
    background-color: var(--primary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.navbar{
    margin-top: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}
.navbar li{
    margin:40px 0;
    display: flex;
    width: 93%;
    align-items: start;
    flex-direction: column;
    transition: .6s ease-in-out;
    padding: 28px 12px;
}
.navbar li:hover{
    background-color: #f4f4f4;
    cursor: pointer;
}
.navbar li a{
    color: var(--texto_primario);
    font-size: 1.2rem;
    font-weight: 600;
}
main{
    display: flex;
}
.barra_busca_kumbi{
    width: 100%;
    display: flex
    height: 45px;
}